/*
Theme Name: Zamkai FSE Child 02
Template: zamkai-fse
Author: zamkaimaster
Author URI: https://profiles.wordpress.org/zamkaimaster/
Description: Theme from the Zamkai Master, created with simplicity in mind. A perfect starting point for website creators that want a basic theme which won't tax their web server.
Tags: full-site-editing
Version: 1.1.4.1771028762
Updated: 2026-02-14 00:26:02

*/

body {
    background-color: red !important;
}